.topbar_conteudo {
    background-color: #f1f1f1;
    position: fixed;
    top: 0;
    width: calc(100% - 260px); /* era 80% */
    left: 260px; /* adicionar — garante encosto perfeito */
    right: unset; /* remover o right: 0 */
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.445);
    z-index: 150;
}

.pagina_conteudo {
    margin-top: 10vh;
}

.botao_deslogar {
    text-decoration: none;
    color: #070b3b;
    font-size: 3.5vh;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.botao_deslogar:hover {
    color: #e53935;
}